[Unit]
Description=memduino daemon systemd service

[Service]
Type=simple
EnvironmentFile=/etc/memduino/args
ExecStart=/usr/bin/memduinod $MEMDUINO_ARGS

[Install]
WantedBy=multi-user.target