[Unit]
Description=memduino daemon systemd service

[Service]
Type=simple
EnvironmentFile=/etc/memduino/.argconfig
ExecStart=/usr/bin/memduinod $ARGS

[Install]
WantedBy=multi-user.target